/* styles.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: darkblue;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  text-align: center;
}

.code {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.label {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.btn {
  margin-top: 20px;
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
